body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    background-image: url(./Imagem/fundo.jpg);
    background-size: cover;
}

header {
    margin-left: 16px;
    display: block;
    font-size: 12px;
    font-family: Bodoni Normal Italic;
}

.nome {
    text-align: center;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;    
}

.frase {
    text-align: center;
    font-size: 12px;
    font-family: Bodoni Normal Italic;
}

.data {
    text-align: center;
    font-size: 12px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 10px;
  }

.bot {
    height: 16px;
    margin: 4px;
    padding: 12px;

}

a {
    border: 1px solid black;
    border-radius: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 4px;
    font-size: 12px;
    color: black;
    text-decoration: none;
  }

  footer {
    margin: 12px;
    text-align: center;
  }
